server:
  port: 8090
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource

    # MySQL 配置，如果你需要使用 H2 Database，请注释掉该配置并取消注释上方 H2 Database 的配置。
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/halodb?characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: haloer
    password: Haloer123#
  redis:
    host: localhost
    database: 0
    port: 6379
    lettuce:
      pool:
        max-wait: -1
        max-idle: 8
        min-idle: 0

